html {
  scroll-behavior: smooth;
  cursor:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.99' height='32' viewBox='0 0 18.96 32' %3E%3Cg fill='%23F55EAA' %3E%3Cpath d='M18.16,29.38c.31.45.71.82.58,1.44-.08.41-.41.93-.82,1.09-.6.24-1.25-.03-1.63-.53-1.15-1.52-1.97-3.17-2.98-4.8-.96-1.53-1.84-3.03-2.49-4.75-1.41.89-2.73,1.63-4.21,2.22-.45.66-1.25.82-1.95.39-.37-.39-.49-.92-.46-1.47-.4-.47-.55-1.04-.73-1.63-.13-.44-.16-.87-.23-1.32-.2-1.2-.56-2.33-.81-3.53l-1.16-5.56C.74,8.42.32,5.95.05,3.39-.08,2.09-.04.65,1.12.12c.62-.29,1.27-.07,1.6.52.9.42,1.55,1.09,2.23,1.77.24.24.57.45.84.69l3.77,3.27c.82.72,1.61,1.42,2.46,2.08,1.01.78,1.9,1.57,2.79,2.48l2.42,2.13,1.27,1.13c.86.77.35,2.02-.48,2.63l-2.17,1.6-2.74,2.07.3.62c.47,1.25,1.14,2.32,1.81,3.45l1.33,2.25c.51.86,1,1.7,1.59,2.56h0ZM13.31,16.96c.8-.64,1.55-1.21,2.36-1.77l-1.92-1.67c-1.29-1.29-2.66-2.34-4.04-3.54l-3.86-3.35c-.36-.31-.71-.68-1.08-.96-.68-.51-1.27-.97-1.98-1.63.26,2.48.69,4.85,1.24,7.28l1.62,7.23.64,2.69.93-.43,2.69-1.57c1.19-.69,2.3-1.38,3.41-2.26h0Z'/%3E%3C/g%3E%3C/svg%3E")
      0 0,
    auto;
  height: 100%;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: clip; */
}

body {
  font-family: var(--font-space-grotesk), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
  height: 100%;
}

:root {
  --dark-color: #000;
  --light-color: #fff;
  --font-color: var(--dark-color);
  --main-color: var(--light-color);
  --padding-top-small: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  --padding-top-medium: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  --padding-top-large: clamp(5rem, 4.545rem + 2.27vw, 6.25rem);
  --padding-bottom-small: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  --padding-bottom-medium: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  --padding-bottom-large: clamp(5.5rem, 4.773rem + 3.64vw, 7.5rem);
  --gutter: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
  --cursor-hover:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.22' height='32' viewBox='0 0 24.22 32' fill='%23f55eaa'%3E%3Cpath d='M10.2,32l-.04-.03-2.58-.05c-.21,0-.6-.17-.82-.22-.6-.14-.99-.52-1.46-.85s-1.06-.59-1.34-1.17c-.34-.71-.58-1.43-.87-2.17-1.65-4.19-2.56-6.43-2.76-11.11l-.22-5.11-.06-.99c-.14-2.18.05-4.58.93-6.59.47-1.08.89-2.17,1.61-3.12.68-.88,2-.75,2.7.09,1.46,1.77,2.51,6.12,2.99,8.73,1.2-1.18,2.82-1.35,4.1-.35.7.55,1.21,1.26,1.57,2.16.55-.59,1.26-.84,2.1-.75.69.07,1.35.47,1.84,1.16.49-1.03,1.54-1.47,2.59-1.15,2.59.8,3,3.86,3.3,6.41l.33,2.78c.16,1.35.15,2.55.03,3.9-.18,2.17-.96,4.14-2.64,5.59-.43.37-.95.65-1.47.93-.86.47-1.73.75-2.7.96s-1.85.54-2.83.61l-3.46.26-.85.08h0ZM19.07,18.24c-.04.54-.14,1.09-.48,1.47-.45.5-1.07.46-1.55.11-.52-.38-.64-.86-.58-1.5.17-1.69.12-3.41-.65-5.05-.59,2.01-.59,4.07-.43,6.13.05.57-.28,1.2-.81,1.39-.81.3-1.67-.36-1.78-1.18-.28-2.13-.24-4.07-.81-6.14-.24-.86-.57-1.72-1.24-2.34-.65.05-1.14.68-1.23,1.31-.26,1.86-.26,3.66-.16,5.53l.11,2.05c.03.6-.4,1.27-.98,1.34-1.08.13-1.63-.73-1.66-1.71-.14-4.12-.65-8.14-1.6-12.14-.33-1.4-.73-2.64-1.32-4.01-.38.82-.7,1.58-.97,2.43-.55,1.8-.33,3.93-.24,5.89l.3,6.2c.1,2.03.72,3.94,1.45,5.83l1.7,4.41c.33.15.71.32.94.56.73.77,3.91.34,5.46.24l1.68-.1c1.23-.19,2.39-.49,3.58-.85.4-.12.78-.36,1.15-.53,3.01-1.42,2.87-5.08,2.54-8.07l-.32-2.89c-.11-1.02-.46-2.85-1.18-3.45-.67,1.45-.82,3.42-.93,5.05h0Z'/%3E%3C/svg%3E")
      0 0,
    pointer;
  --cursor-grab:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.04' height='32' viewBox='0 0 30.04 32' fill='%23f55eaa'%3E%3Cpath d='M14.55,31.99c-.93.02-1.84,0-2.75-.23-.5.18-1.04.2-1.54-.06l-2.45-1.28c-2.08-1.09-3.79-2.49-5.2-4.35C1.06,24.06-.11,22.09,0,19.48c.18-1.08.72-2.11,1.77-2.48,1.13-.39,2.32-.13,3.43.35-.78-2.02-1.38-4.02-1.49-6.19s-.04-4.19.45-6.23c.16-.69.63-1.26,1.17-1.55,1.46-.8,3.14.42,4.27,1.72.26-1.12.43-2.18.81-3.18.55-1.47,1.98-2.23,3.47-1.82,1.61.66,2.2,2.24,2.75,3.9.32-.64.77-1.14,1.34-1.52,1.19-.79,2.6-.54,3.5.6.79.98,1.29,2.18,1.69,3.37.72-.89,1.81-1.42,2.9-1.1.99.3,1.6,1.1,2.05,2,1.42,3.05,1.94,6.33,1.92,9.68v2.39c-.03,2.04-.23,3.95-.96,5.89-.79,2.1-2.57,3.76-4.72,4.49-.92.31-1.81.51-2.75.71l-4.45.98c-.9.2-1.69.46-2.62.48h0ZM19.63,28l2.89-.69c1.39-.33,2.69-.84,3.46-2.21.77-1.35,1.04-3.03,1.12-4.63.1-1.98.08-3.88-.07-5.88-.16-2.17-.75-4.21-1.68-6.24-.37.64-.52,1.34-.61,2.07-.14,1.19-.34,2.37-.29,3.58l.2,5.13c.03.79-1.19,1.71-2.04,1.26-.31-.16-.75-.54-.81-1.04-.12-.98-.2-1.97-.25-2.98l-.17-3.67c-.1-2.09-.77-5.95-2.13-7.63-.8,1.73-1.08,4.83-.8,6.54l.59,3.7.54,3.51c.18,1.14-.98,1.81-1.54,1.73-.74-.11-1.2-.66-1.41-1.34-.71-2.31-.87-4.65-1.16-7.06-.26-2.17-.91-4.21-1.39-6.33-.21-.94-.45-1.8-.99-2.7-.88,2.47-.88,5.04-.39,7.6.36,1.92.82,3.71,1.45,5.55.44,1.29.78,2.58.99,3.93.14.9-.99,1.81-1.77,1.6-.31-.09-.79-.37-.94-.74-.72-1.85-1.23-3.67-1.69-5.61s-1-3.74-1.71-5.56c-.5-1.28-1.19-2.4-2.22-3.36-.44,3.3-.31,5.57.75,8.76l.66,2c.54,1.62,1.18,3.13,1.92,4.67.2.43.23,1.01-.03,1.41-.29.46-.91.8-1.45.74-.61-.07-.97-.58-1.33-1-1.21-1.41-2.59-3.09-4.4-3.31-.03.7.09,1.3.39,1.92.93,1.86,2.26,3.52,3.89,4.83.68.54,1.39.93,2.15,1.31l1.41.72c.51-.06.85-.04,1.31.11,1.32.44,2.78.47,4.12.07,1.13-.34,2.24-.49,3.43-.77h0Z'/%3E%3C/svg%3E")
      0 0,
    grab;
  --cursor-grabbing:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.04' height='23.5' viewBox='0 0 30.04 23.5' fill='%23f55eaa'%3E%3Cpath class='cls-1' d='M16.73,22.94c-3.09,1.04-4.35.3-5.12.38-.58.06-1.13-.15-1.68-.32-1.22-.37-2.32-.88-3.36-1.65-2.02-1.49-3.97-3.22-5.47-5.23C.03,14.68-.3,12.76.28,11.08c.35-1.01,1.22-1.66,2.14-2.11.37-.18.68-.33.99-.6-.16-1.85.25-3.68,1.43-5.08,1.39-1.66,3.67-2.21,5.39-.72.46-.89,1.11-1.72,2.03-2.16,1.74-.82,3.03-.36,4.38.94.84-.87,2.02-1.46,3.25-1.3s2.07.88,2.87,1.74c1.31-1.39,3.36-1.54,4.78-.32,1.06.9,1.78,2.08,2.06,3.46.26,1.29.41,2.55.42,3.86l.02,2.07c.01,1.44-.29,2.75-.91,4.08s-1.35,2.66-2.59,3.55c-1.46,1.04-2.96,2.04-4.63,2.72-1.71.7-3.42,1.14-5.17,1.73h0ZM21.86,17.82l2.3-1.39c.81-.49,1.28-1.24,1.73-2.02.79-1.37,1.06-2.77.99-4.35l-.12-2.9c-.04-1.11-.28-2.1-.8-3.09-.1-.19-.56-.44-.73-.31-1.28,1.46-.54,2.96-.38,4.64.08.85-.51,1.72-1.36,1.82-.97.12-1.82-.64-2-1.57-.24-1.22-.04-2.35-.62-4.06-.2-.58-.53-1.1-1.08-1.42-.68-.41-1.46,1.06-1.27,2.01.22,1.12.32,2.18.36,3.33.02.61.12,1.2-.18,1.78-.17.33-.64.74-1.04.79-.99.12-1.84-.62-2.04-1.56-.3-1.4-.29-2.77-.41-4.21-.05-.63-.78-2.16-1.24-2.2-.69-.07-1.49,1.72-1.09,3.16.25.92.44,1.8.59,2.74l.18,1.08c.13.79-.5,1.7-1.3,1.78-1,.11-1.68-.67-1.89-1.56l-.89-3.83c-.15-.64-.93-1.4-1.46-1.66-.42-.18-.82.35-.98.63-.7,1.17-.75,2.53-.29,3.8l1.09,2.95c.07.2.4.53.44.71.2.86-.42,1.75-1.31,1.82-1.6.14-2.22-1.72-2.75-3.22-.31.07-.86.32-1.03.57-.35,1.26.24,2.33,1.04,3.22,1,1.13,2.03,2.1,3.21,3.03,1,.78,1.97,1.45,3.21,1.79,1.37.38,2.02-.35,2.76.28.79.02,1.54-.13,2.29-.37l2.9-.95c1.09-.35,2.15-.65,3.17-1.26Z'/%3E%3C/svg%3E")
      0 0,
    grabbing;
  --header-height: 3.75rem;

  @media (--screen-lg) {
    --header-height: 5rem;
  }

  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

#smooth-wrapper {
  height: 100%;
}

#smooth-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  margin-top: var(--header-height);
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  all: unset;
  cursor: var(--cursor-hover);
}

ul,
ol {
  list-style: none;
}
