.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100svh;
  margin-bottom: -1px;

  @supports not (min-height: 100svh) {
    min-height: -webkit-fill-available;
  }
}

.title {
  padding: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
  position: relative;
  height: 100svh;
  display: flex;
  align-items: center;

  @supports not (height: 100svh) {
    height: -webkit-fill-available;
  }

  & h2 {
    z-index: 2;
    color: var(--dark-color);
    font-size: clamp(3.5rem, 0.545rem + 12.61vw, 10rem);
    max-width: 15ch;

    & :is(em, i) {
      white-space: nowrap;
    }
  }
}

.artwork {
  overflow: visible;
  height: 100svh;
  padding-block: var(--padding-top-large) var(--padding-bottom-large);

  @supports not (min-height: 100svh) {
    min-height: -webkit-fill-available;
  }
}

.carousel {
  height: 100%;
  display: flex;
  gap: 2.5rem;
  align-items: center;

  cursor: var(--cursor-grab) !important;

  &[data-grabbing="true"] {
    cursor: var(--cursor-grabbing) !important;
  }

  @media (--screen-lg) {
    gap: 5rem;
  }
}

.image-container {
  flex: 0 0 auto;
  min-height: 0;
  height: 100%;
  width: auto;

  & img {
    width: auto;
  }

  &[data-format="horizontal"] {
    height: 75%;
  }
  &[data-format="square"] {
    height: 50%;
  }
}

.mask-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 640/360;
  height: auto;
  min-height: 100%;
  width: auto;
  min-width: 100%;
}

.animated-mask {
  height: 100%;
  width: 100%;

  mask: url("/watercolor.avif");
  -webkit-mask: url("/watercolor.avif");
  mask-size: 2200% 100%;
  -webkit-mask-size: 2200% 100%;
  mask-position: 0 0;
  -webkit-mask-position: 0 0;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  pointer-events: none;
  background: var(--dark-color);
}
