html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: clip; */
}

body {
  font-family: var(--font-space-grotesk), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark-color: #000;
  --light-color: #fff;

  /* noir #2e2d2d */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* line-height: calc(1em + 0.5rem); */
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
