.root {
  --font-color: var(--dark-color);
  --main-color: var(--light-color);

  &:not([data-studio="true"]) {
    cursor: none;

    background-color: var(--light-color);
    color: var(--dark-color);
    margin-top: -3.75rem;

    @media (--screen-lg) {
      margin-top: -5rem;
    }
  }
}
