.cursor {
  --cursor-color: var(--light-color);
  --text-color: var(--dark-color);

  display: none;

  @media (--screen-lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    text-transform: uppercase;
    color: var(--dark-color);
    position: fixed;
    border: 1px solid var(--cursor-color);
    background-color: var(--cursor-color);
    mix-blend-mode: difference;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    z-index: 50;
    pointer-events: none;
    top: 0;
    left: 0;
    transition:
      transform 0.5s ease-out,
      width 0.75s ease-out,
      height 0.75s ease-out,
      border-radius 0.75s ease-out,
      border-color 0.75s ease-out,
      font-size 0.75s ease-out 0.15s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:where([data-background="true"]) {
      background-color: transparent;
      mix-blend-mode: normal;
      width: 17rem;
      height: 13rem;
      border-radius: 0;
      border: 1px solid #e8e8e8;
    }

    &:where([data-text="true"]) {
      padding: 1rem;
      width: 135px;
      height: 135px;
      color: var(--text-color);
      font-size: 1em;
    }

    &:where([data-hover="true"]) {
      width: 0;
      height: 0;
      border: none;
    }
  }
}
