.cursor {
  --cursor-color: var(--light-color);
  --text-color: var(--dark-color);

  display: none;

  @media (--screen-lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    text-transform: uppercase;
    color: var(--dark-color);
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid var(--cursor-color);
    background-color: var(--cursor-color);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 50;

    width: 17rem;
    height: 13rem;
    transform-origin: 70% 70%;
    scale: 0.0294 0.0385;
    border-radius: 50%;

    transition:
      translate 0.5s cubic-bezier(0.22, 1, 0.36, 1),
      scale 0.75s cubic-bezier(0.22, 1, 0.36, 1),
      border-radius 0.75s cubic-bezier(0.22, 1, 0.36, 1),
      border-color 0.75s cubic-bezier(0.22, 1, 0.36, 1),
      font-size 0.75s cubic-bezier(0.22, 1, 0.36, 1) 0.15s;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:where([data-background="true"]) {
      background-color: transparent;
      mix-blend-mode: normal;
      scale: 1 1;
      border-radius: 0;
      border: 1px solid #e8e8e8;
    }

    &:where([data-text="true"]) {
      padding: 1rem;
      scale: 0.496 0.649;
      color: var(--text-color);
      font-size: 1em;

      & span {
        scale: 2.016 1.541;
      }
    }

    &:where([data-hover="true"]) {
      scale: 0 0;
      border: none;
    }
  }
}
