.menu {
  padding-inline: var(--gutter);
  top: 0;
  position: sticky;
  z-index: 20;
  height: var(--header-height);
  display: flex;
  align-items: center;
  color: var(--light-color);
  mix-blend-mode: difference;

  &:where([data-open="true"]) .burger {
    span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(4px, 0px);
    }
    span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }
    span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(14px, -5px) rotatez(45deg);
    }
  }
}

.mobile-navigation {
  display: block;

  @media (--screen-lg) {
    display: none;
  }
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  text-transform: uppercase;
}

.nav-link {
  font-size: 2rem;
}

.burger {
  width: 2rem;
  display: grid;
  row-gap: 0.4rem;
  z-index: 100;

  & span {
    display: block;
    background: currentColor;
    height: 3px;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  & span:nth-of-type(1) {
    width: 50%;
  }

  & span:nth-of-type(2) {
    width: 100%;
  }

  & span:nth-of-type(3) {
    width: 75%;
  }

  @media (--screen-lg) {
    display: none;
  }
}

.desktop-navigation {
  display: none;
  justify-content: space-between;
  width: 100%;
  margin-inline: 1rem;

  @media (--screen-lg) {
    display: flex;
  }
}

.menu-drawer {
  padding: var(--padding-top-large) var(--gutter) var(--padding-bottom-small);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  flex-direction: column;

  & a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25rem;
  }
}
