.root {
  position: fixed;
  z-index: 9999;
  inset: 0;
  z-index: 100;
  color: #f55eaa;
  background: var(--light-color);
  display: flex;
  font-size: 7.5rem;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.6s ease,
    visibility 0.6s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
